*.d
*.slo
*.lo
*.o
*.gch
*.pch
*.ilk
*.pdb
*.so
*.dylib
*.dll
*.so.*
*.mod
*.smod
*.lai
*.la
*.a
*.lib
*.exe
*.out
*.app
.vs/
.vscode/
.idea/
out/
build/
Build/
build-*/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
install_manifest.txt
compile_commands.json
*.tmp
*.log
*.bak
*.swp
vcpkg_installed/
*.dwo
Testing/
.cache/
